<nav class="navbar navbar-light" style="background-color: #ffb5a7;">
    <div class="container-fuild">
        <div class="navbar-header">
            <a href="#" id="logo" class="navbar-brand">TO-DO LIST</a>
        </div>
        <!-- class="collapse navbar-collapse" -->
        <!-- <div >
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/todoList">Uncompleted Items</a></li>
            </ul>

        </div> -->
    </div>
</nav>